
    <!-- Footer-->
{% extends "base.html" %}
{% load static %}

{% block page_content %}

    <!-- Page Content-->
    <!-- Hero-->
    <section class="bg-center-top bg-no-repeat box-shadow" style="background-color: #fbfaff; background-image: url({% static 'img/homepages/marketing-seo/hero-bg.png' %} )">
      <div class="container-fluid pt-md-4">
        <div class="row align-items-center">
          <div class="col-xl-5 col-md-6 offset-xl-1 py-5 text-center text-md-left">
            <h1 class="h2 block-title">Closing the gender gap, helping women embrace Technology.</h1>
            <p class="text-lg text-muted pt-3 d-block d-md-none d-lg-block">The organization focuses on 4 primary areas that are a call for action: Education, Entrepreneurialism, Social Inclusion, Science & Innovation. The aim is to educate, equip and empower women and girls with the necessary skills and confidence to succeed in STEM career fields.
            </p>
            <div class="pt-3"><a class="scroll-to btn btn-primary mr-3 mb-3" href="{% url 'join' %}">I'm interested</a><a class="btn btn-accent mb-3" href="">Contact Us</a></div>
          </div>
          <div class="col-xl-5 col-md-6"><img class="d-block mx-auto" src="{% static 'img/homepages/marketing-seo/hero-img.png' %} " alt="CreateX Marketing"></div>
        </div>
      </div>
    </section>
    <!-- Services-->
    <section class="container py-5 my-2 my-md-4" id="services">
      <h2 class="h3 block-title text-center">We provide tranings in</h2>
      <div class="row pt-3">
        <!-- Service-->
        <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
            <div class="d-sm-table-cell align-top">
              <div class="icon-box-image"><img src="{% static 'img/components/icon-box/04.png' %} " alt="Image icon"></div>
            </div>
            <div class="d-sm-table-cell align-top pl-sm-4">
              <h3 class="icon-box-title">Web Development</h3>
              <p class="icon-box-text text-sm mb-0">Why wonder how the web works, when you can learn to develop a website that gives you income?.</p>
            </div></a></div>
        <!-- Service-->
        <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
            <div class="d-sm-table-cell align-top">
              <div class="icon-box-image"><img src="{% static 'img/components/icon-box/05.png' %}" alt="Image icon"></div>
            </div>
            <div class="d-sm-table-cell align-top pl-sm-4">
              <h3 class="icon-box-title">Search Engine Optimization</h3>
              <p class="icon-box-text text-sm mb-0">Search engine optimization (SEO) is the process of optimizing your online content so that a search engine likes to show it as a top result for searches of a certain keyword.</p>
            </div></a></div>
        <!-- Service-->
        <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
            <div class="d-sm-table-cell align-top">
              <div class="icon-box-image"><img src="{% static 'img/components/icon-box/06.png' %}" alt="Image icon"></div>
            </div>
            <div class="d-sm-table-cell align-top pl-sm-4">
              <h3 class="icon-box-title">Graphic design</h3>
              <p class="icon-box-text text-sm mb-0">Looking to advance your design career? TNX College got you cob=vered on pocket friendly rate. Learn how create out standing designs. Develop you Graphics design skills.</p>
            </div></a></div>
        <!-- Service-->
        <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
            <div class="d-sm-table-cell align-top">
              <div class="icon-box-image"><img src="{% static 'img/components/icon-box/02.png' %}" alt="Image icon"></div>
            </div>
            <div class="d-sm-table-cell align-top pl-sm-4">
              <h3 class="icon-box-title">Digital marketing</h3>
              <p class="icon-box-text text-sm mb-0">Do you want to expand your digital marketing presence?, if yes, Digital marketing is the best strategy for your business niche.</p>
            </div></a></div>
        <!-- Service-->
        <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
            <div class="d-sm-table-cell align-top">
              <div class="icon-box-image"><img src="{% static 'img/components/icon-box/07.png' %}" alt="Image icon"></div>
            </div>
            <div class="d-sm-table-cell align-top pl-sm-4">
              <h3 class="icon-box-title">Email marketing</h3>
              <p class="icon-box-text text-sm mb-0">Learn how to make transactions via mailing platfomrs. Become the world's leading Email marketing experts and practitioners. Grow your email list by up to 10,000 subscribers in 4weeks.</p>
            </div></a></div>
        <!-- Service-->
        <div class="col-md-6"><a class="icon-box icon-box-horizontal d-sm-table text-center text-sm-left text-decoration-none" href="#">
            <div class="d-sm-table-cell align-top">
              <div class="icon-box-image"><img src="{% static 'img/components/icon-box/03.png' %}" alt="Image icon"></div>
            </div>
            <div class="d-sm-table-cell align-top pl-sm-4">
              <h3 class="icon-box-title">Mobile Development</h3>
              <p class="icon-box-text text-sm mb-0">Imagine you wake up one fine day and you have an idea of an amazing App, knowing that you don't have a tech skill. I'm sure sure you would love your idea to come out real. Take a Mobile development course at TNX College. </p>
            </div></a></div>
      </div>
      <div class="text-center pt-2"><a class="btn btn-primary" href="services.html">All Services</a></div>
    </section>
    <!-- CTA #1-->
    <section class="bg-center bg-repeat-y pt-3" style="background-image: url({% static 'img/homepages/marketing-seo/cta01-bg.png' %});">
      <div class="container-fluid pt-4">
        <div class="row align-items-center">
          <div class="col-xl-5 col-md-6 offset-xl-1"><img class="d-block mx-auto" src=" {% static 'img/homepages/marketing-seo/cta01.png' %}" alt="CreateX Marketing"></div>
          <div class="col-xl-5 col-md-6 text-center text-md-left py-5">
            <h2 class="h3 block-title text-white">We offer a full range of ICT Courses</h2>
            <p class="text-lg text-white py-3">We have a platform for creative mind sets to birth their ideas, giving them professional training preparing them for Job opportunities in the tech space. Learn coding with Html, CSS, PHP, MYSQL, Database, Java Script, etc.
            </p><a class="scroll-to btn btn-light mb-3" href="">Learn More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Process-->
    <section class="bg-secondary pt-5 pb-4">
      <div class="container pt-2 pt-md-4">
        <h2 class="h3 block-title text-center">The Process. How it all works</h2>
        <div class="row pt-3">
          <div class="col-lg-3 col-sm-6">
            <!-- Step-->
            <div class="step">
              <div class="step-number">1</div>
              <h3 class="step-title">Application</h3>
              <p class="step-text text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore rerum facilis est.</p><a class="step-link" href="#">View more<i class="fe-icon-arrow-right"></i></a>
              
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <!-- Step-->
            <div class="step">
              <div class="step-number">2</div>
              <h3 class="step-title">Community Development</h3>
              <p class="step-text text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore rerum facilis est.</p><a class="step-link" href="#">View more<i class="fe-icon-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <!-- Step-->
            <div class="step">
              <div class="step-number">3</div>
              <h3 class="step-title">Mentorship</h3>
              <p class="step-text text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore rerum facilis est.</p><a class="step-link" href="#">View more<i class="fe-icon-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <!-- Step-->
            <div class="step">
              <div class="step-number">4</div>
              <h3 class="step-title">Expert</h3>
              <p class="step-text text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore rerum facilis est.</p><a class="step-link" href="#">View more<i class="fe-icon-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Team-->
    <section class="container pt-5 pb-4">
      <h2 class="h3 block-title text-center pt-3">Meet Our Resource Persons</h2>
      <div class="row pt-4">
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="team-card-style-5 mx-auto">
            <div class="team-thumb">
              <div class="team-card-inner"><a class="team-contact-link" href="tel:+13907765843"><i class="fe-icon-phone"></i>&nbsp;+1 (390) 776 58 43</a><a class="team-contact-link" href="mailto:info@example.com"><i class="fe-icon-mail"></i>&nbsp;info@example.com</a>
                <div class="team-social-bar pt-3 text-center"><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-6 sb-google-plus sb-light-skin" href="#"><i class="socicon-googleplus"></i></a><a class="social-btn sb-style-6 sb-linkedin sb-light-skin" href="#"><i class="socicon-linkedin"></i></a></div>
              </div><img src="{% static 'img/team/style-2/05.jpg' %}" alt="Team Member Picture"/>
            </div>
            <h4 class="team-name">Benjamin Miller</h4><span class="team-position">CEO, Founder</span>
          </div>
        </div>
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="team-card-style-5 mx-auto">
            <div class="team-thumb">
              <div class="team-card-inner"><a class="team-contact-link" href="tel:+19871625346"><i class="fe-icon-phone"></i>&nbsp;+1 (987) 162 53 46</a><a class="team-contact-link" href="mailto:info@example.com"><i class="fe-icon-mail"></i>&nbsp;info@example.com</a>
                <div class="team-social-bar pt-3 text-center"><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-pinterest sb-light-skin" href="#"><i class="socicon-pinterest"></i></a><a class="social-btn sb-style-6 sb-behance sb-light-skin" href="#"><i class="socicon-behance"></i></a><a class="social-btn sb-style-6 sb-dribbble sb-light-skin" href="#"><i class="socicon-dribbble"></i></a></div>
              </div><img src="{% static 'img/team/style-2/06.jpg' %}" alt="Team Member Picture"/>
            </div>
            <h4 class="team-name">Olivia Davis</h4><span class="team-position">Lead Visual Artist</span>
          </div>
        </div>
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="team-card-style-5 mx-auto">
            <div class="team-thumb">
              <div class="team-card-inner"><a class="team-contact-link" href="tel:+57872336590"><i class="fe-icon-phone"></i>&nbsp;+5 (787) 233 65 90</a><a class="team-contact-link" href="mailto:info@example.com"><i class="fe-icon-mail"></i>&nbsp;info@example.com</a>
                <div class="team-social-bar pt-3 text-center"><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-github sb-light-skin" href="#"><i class="socicon-github"></i></a><a class="social-btn sb-style-6 sb-stackoverflow sb-light-skin" href="#"><i class="socicon-stackoverflow"></i></a><a class="social-btn sb-style-6 sb-skype sb-light-skin" href="#"><i class="socicon-skype"></i></a></div>
              </div><img src="{% static 'img/team/style-2/07.jpg' %}" alt="Team Member Picture"/>
            </div>
            <h4 class="team-name">William Smith</h4><span class="team-position">Lead Programmer</span>
          </div>
        </div>
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6 mb-30">
          <div class="team-card-style-5 mx-auto">
            <div class="team-thumb">
              <div class="team-card-inner"><a class="team-contact-link" href="tel:+72056557984"><i class="fe-icon-phone"></i>&nbsp;+7 (205) 655 79 84</a><a class="team-contact-link" href="mailto:info@example.com"><i class="fe-icon-mail"></i>&nbsp;info@example.com</a>
                <div class="team-social-bar pt-3 text-center"><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-6 sb-pinterest sb-light-skin" href="#"><i class="socicon-pinterest"></i></a><a class="social-btn sb-style-6 sb-behance sb-light-skin" href="#"><i class="socicon-behance"></i></a><a class="social-btn sb-style-6 sb-dribbble sb-light-skin" href="#"><i class="socicon-dribbble"></i></a></div>
              </div><img src="{% static 'img/team/style-2/08.jpg' %}" alt="Team Member Picture"/>
            </div>
            <h4 class="team-name">Emma Johnson</h4><span class="team-position">SEO Specialist</span>
          </div>
        </div>
      </div>
    </section>
    <!-- Pricing-->
    <!-- <section class="container">
      <hr>
      <div class="py-5">
        <h2 class="h3 block-title text-center pt-3">Choose your SEO plan<small><span class='font-weight-medium text-danger'>*</span> Note that you save 20% on Yearly subscription</small></h2>
        <div class="pricing-plans pt-4">
          <ul class="nav nav-tabs nav-tabs-style-3 pricing-tabs justify-content-center">
            <li class="nav-item"><a class="nav-link active" href="#" data-toggle="price" data-period="monthly">Monthly</a></li>
            <li class="nav-item"><a class="nav-link" href="#" data-toggle="price" data-period="yearly">Yearly&nbsp;<sup>-20%</sup></a></li>
          </ul>
          <div class="owl-carousel carousel-flush pt-2" data-owl-carousel="{ &quot;nav&quot;: false, &quot;dots&quot;: true, &quot;autoHeight&quot;: true, &quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1},&quot;630&quot;:{&quot;items&quot;:2},&quot;991&quot;:{&quot;items&quot;:3},&quot;1200&quot;:{&quot;items&quot;:3}} }">
        
            <div class="mb-30 pb-3">
              <div class="card pricing-card">
                <div class="card-body text-center"><span class="badge badge-success">Best Offer</span>
                  <h5 class="pt-3">Starter</h5>
                  <div class="pricing-card-price monthly active"><span>$</span>40</div>
                  <div class="pricing-card-price yearly"><span>$</span>32</div><span class="text-muted">per month</span>
                  <ul class="list-icon d-table mx-auto pt-4 text-left">
                    <li><i class="fe-icon-check-circle text-muted"></i>Storage space: <strong>4GB</strong></li>
                    <li><i class="fe-icon-check-circle text-muted"></i>Community support</li>
                    <li><i class="fe-icon-check-circle text-muted"></i>Expert reviews: <strong>5 projects</strong></li>
                    <li><i class="fe-icon-check-circle text-muted"></i>Traffic: <strong>2GB</strong></li>
                  </ul>
                </div>
                <div class="card-footer text-center"><a class="btn btn-primary" href="#">Buy Now</a></div>
              </div>
            </div>
          
            <div class="mb-30 pb-3">
              <div class="card pricing-card border border-primary">
                <div class="card-body text-center"><span class="badge badge-warning">Most Popular</span>
                  <h5 class="pt-3">Team</h5>
                  <div class="pricing-card-price monthly active"><span>$</span>70</div>
                  <div class="pricing-card-price yearly"><span>$</span>56</div><span class="text-muted">per month</span>
                  <ul class="list-icon d-table mx-auto pt-4 text-left">
                    <li><i class="fe-icon-check-circle text-muted"></i>Storage space: <strong>16GB</strong></li>
                    <li><i class="fe-icon-check-circle text-muted"></i>Premium support 24/7</li>
                    <li><i class="fe-icon-check-circle text-muted"></i>Expert reviews: <strong>10 projects</strong></li>
                    <li><i class="fe-icon-check-circle text-muted"></i>Traffic: <strong>5GB</strong></li>
                  </ul>
                </div>
                <div class="card-footer text-center"><a class="btn btn-gradient" href="#">Buy Now</a></div>
              </div>
            </div>
          
            <div class="mb-30 pb-3">
              <div class="card pricing-card">
                <div class="card-body text-center"><span class="badge badge-danger">Rich Features</span>
                  <h5 class="pt-3">Premium</h5>
                  <div class="pricing-card-price monthly active"><span>$</span>100</div>
                  <div class="pricing-card-price yearly"><span>$</span>80</div><span class="text-muted">per month</span>
                  <ul class="list-icon d-table mx-auto pt-4 text-left">
                    <li><i class="fe-icon-check-circle text-muted"></i>Storage space: <strong>Unlimited</strong></li>
                    <li><i class="fe-icon-check-circle text-muted"></i>Premium support 24/7</li>
                    <li><i class="fe-icon-check-circle text-muted"></i>Expert reviews: <strong>Unlimited</strong></li>
                    <li><i class="fe-icon-check-circle text-muted"></i>Traffic: <strong>Unlimited</strong></li>
                  </ul>
                </div>
                <div class="card-footer text-center"><a class="btn btn-primary" href="#">Buy Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- CTA #2-->
    <section class="container-fluid pb-5">
      <div class="bg-center-top bg-no-repeat py-5" style="background-color: #3724b9;">
        <div class="container px-4">
          <div class="row align-items-center">
            <div class="col-md-7 py-3">
              <h2 class="h3 text-white pb-3">Diversity and inclusiveness are essential in every industry, and they are critical to tech!
              </h2>
              <p class="text-lg text-white font-weight-medium">Working individually and locally, networks have less impact..</p>
              <p class="text-white pb-3"> We are devoted and committed to each other, because nothing great was ever built without collaboration and teamwork.
              </p><a class="btn btn-light" href="">Study with us</a>
            </div>
            <div class="col-md-5"><img class="d-block mx-auto" src="{% static 'img/homepages/marketing-seo/cta01.png'%}" alt="CreateX Marketing"></div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
